@import 'colors';
@import 'cannect/colors';

.bg-cannect-black {
  background-color: @cannect-black;
}

.bg-cannect-yellow {
  background-color: @cannect-yellow;
}

.bg-quote-red {
  background-color: @red-500;
}

.bg-quote-blue {
  background-color: @indigo-500;
}

//.bg-cannect-700 {
//  background-color: #0097A7;
//}
//
//.bg-cannect-500 {
//  background-color: #00BCD4;
//}
//
//.bg-cannect-300 {
//  background-color: #4DD0E1;
//}

.bg-cannect-700 {
  background-color: #D32F2F;
}

.bg-cannect-500 {
  background-color: #F44336;
}

.bg-cannect-300 {
  background-color: #FFCDD2;
}

.hover-cannect-yellow:hover {
  background-color: @cannect-yellow;
}