.color-cannect-black {
  color: @cannect-black;
}

.color-cannect-yellow {
  color: @cannect-yellow;
}

//.color-cannect-700 {
//  color: #0097A7;
//}
//
//.color-cannect-500 {
//  color: #00BCD4;
//}
//
//.color-cannect-300 {
//  color: #4DD0E1;
//}

.color-cannect-700 {
  color: #455A64;
}

.color-cannect-500 {
  color: #607D8B;
}

.color-cannect-300 {
  color: #CFD8DC;
}

.hover-color-cannect-yellow:hover {
  color: @cannect-yellow;
}

@accent: @cannect-yellow;
@cannect-yellow: #FFC107;
@cannect-black: #1f1a17;
@cannect-primary-300: #FFCDD2;
@cannect-primary-500: #F44336;
@cannect-primary-700: #D32F2F;